.f-width {
    width: 100%;
}

.inline-block{
  display: inline-block;
}

.nopadding {
    padding: 0;
}

.hide{
  display: none;
}

.btn-primary {
    background: $primary-base;
    color: $white;
    border: 0;
    transition: all ease-in-out 200ms;
    &:hover {
        background: rgba($white, .8);
        color: $primary-base !important;
    }
}

.btn-default {
    background: $white;
    color: $primary-base;
    border: 0;
    transition: all ease-in-out 200ms;
    &:hover {
        background: rgba($primary-base, .8);
        color: $white !important;
    }
}



.checkbox [type=checkbox]:checked,
.checkbox [type=checkbox]:not(:checked) {
    display: none;
    position: absolute;
    left: 24px;
}


.checkbox [type=checkbox]:checked+label,
.checkbox [type=checkbox]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: rem(21);
    display: inline-block;
    color: #fff;
    padding-right: 0;
}


.checkbox [type=checkbox]:checked+label:before,
.checkbox [type=checkbox]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: rem(21);
    height: rem(21);
    border: 1px solid #d1d1d1;
    background: #fff;
    border-radius: rem(5);
}


.checkbox [type=checkbox]:checked+label:after,
.checkbox [type=checkbox]:not(:checked)+label:after {
    content: " ";
    position: absolute;
    top: 3px;
    left: 3px;
    width: rem(15);
    height: rem(15);
    border-radius: rem(3);
    background: $primary-base;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}


.checkbox [type=checkbox]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}


.checkbox [type=checkbox]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}


.checkbox label {
    padding-right: 35px;
    color: $white;
}


.checkbox [type=checkbox]:checked+label.disabled:before,
.checkbox [type=checkbox]:not(:checked)+label.disabled:before {
    cursor: not-allowed;
    background: #ececec;
}

.select {
    position: relative;
    display: inline-block;

    &:after {
        content: "\f0d7";
        position: absolute;
        width: 16px;
        color: #fff;
        font-weight: bold;
        font-size: 7px;
        right: 0px;
        bottom: 10px;
        border-radius: 3px;
        pointer-events: none;
        z-index: 2;
        font: normal normal normal 14px/1 FontAwesome;
    }

    select {
        position: relative;
        width: 110px;
        appearance: none;
        background: $primary-base-daker;
        color: #fff;
        border: none;
        outline: none;
        font-size: 14px;
        padding: 6px 10px;
        margin: 0;
        cursor: pointer;
        &::-ms-expand {
            display: none;
        }
    }
}

.icon-btn{
  border: 0;
  background: transparent;
}